PersonalHealthServices/web/WEB-INF/wsdl/localhost_8080/PersonalHealthServices/userInfo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://userInformation.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://userInformation.com/">

<xs:element name="calculateAge" type="tns:calculateAge"/>

<xs:element name="calculateAgeResponse" type="tns:calculateAgeResponse"/>

<xs:element name="displayInfo" type="tns:displayInfo"/>

<xs:element name="displayInfoResponse" type="tns:displayInfoResponse"/>

<xs:complexType name="calculateAge">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateAgeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayInfo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:double"/>
<xs:element name="arg4" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>